<h1><%= @recipe.name  %></h1>
<h2><%= @recipe.ingredients  %></h2>
<h2><%= @recipe.cook_time  %></h2>

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="delete">
</form>
